body {
background-color: aquamarine;
color:#faebd7
font-family: "bai jamjuree", sans-serif;
display: flex;
justify-content: center;
aling-items: center;
height: 700px;
margin: 0;
}
botton{
background:-color: rebeccapurple;
color: white;
font-family: "bai jamjuree", sans-serif;
}